# GHC build artifacts
*.hi
*.o

# cabal build results
dist-*/

# Nix build out links
result*

# Hakyll cache and build results
_cache/
_site/
_tmp/

# direnv
.direnv/

# pre-commit
.pre-commit-config.yaml
